.navigation {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 1em;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
    color: #ddd;
}